<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CRUD Sample with Spring Boot, for challenge</title>
  <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/accounts.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <h1>Account CRUD</h1>
    <main id="app">
      <router-view></router-view>
    </main>
  </div>

  <template id="account">
    <div>
      <b>Name: </b>
      <div>{{ account.name }}</div>
      <b>Email: </b>
      <div>{{ account.email }}</div>
      <b>Age: </b>
      <div>{{ account.age }}</div>
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>Addresses:</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="address in account.addresses">
          <td>
             {{ address.address }}
          </td>
        </tr>
        </tbody>
      </table>
    <br/>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <a>
        <router-link to="/">Back to Account list</router-link>
      </a>
    </div>
  </template>

  <template id="list-account">
    <div>
      <div class="actions">
        <a class="btn btn-default">
          <router-link :to="{path: '/add-account'}">
            <span class="glyphicon glyphicon-plus"></span>
            Add account
          </router-link>
        </a>
      </div>
      <div class="filters row">
        <div class="form-group col-sm-3">
          <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element"/>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th class="col-sm-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="account in filteredAccounts">
          <td>
            <a>
              <router-link :to="{name: 'account', params: {account_id: account.id}}">{{ account.name }}</router-link>
            </a>
          </td>
          <td>{{ account.email }}</td>
          <td>{{ account.age }}</td>
          <td>
            <a class="btn btn-warning btn-xs">
              <router-link :to="{name: 'edit-account', params: {account_id: account.id}}">Edit</router-link>
            </a>
            <a class="btn btn-danger btn-xs">
              <router-link :to="{name: 'delete-account', params: {account_id: account.id}}">Delete</router-link>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </template>


  <template id="add-account">
    <div>
      <h2>Add new account</h2>
      <form @submit="createAccount">
        <div class="form-group">
          <label for="add-name">Name</label>
          <input class="form-control" id="add-name" v-model="account.name" required/>
        </div>
        <div class="form-group">
          <label for="add-description">Email</label>
          <input class="form-control" id="add-email" v-model="account.email" required/>
        </div>
        <div class="form-group">
          <label for="add-stock">Age</label>
          <input class="form-control" id="add-age" v-model="account.age" required/>
        </div>
        <div class="form-group">
          <label for="add-addresses">Addresses</label>
       	  <a v-on:click="addAddress" class="btn btn-sm">
           	<span class="glyphicon glyphicon-plus"></span>
	       </a>
          <div v-for="addressObj in account.addresses">
		  	 <input class="form-control" name="addresses" v-model="addressObj.address" />
		  </div> 	
          
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="edit-account">
    <div>
      <h2>Edit account</h2>
      <form @submit="updateAccount">
        <div class="form-group">
          <label for="edit-name">Name</label>
          <input class="form-control" id="edit-name" v-model="account.name" required/>
        </div>
        <div class="form-group">
          <label for="edit-email">Email</label>
          <input class="form-control" id="edit-email" v-model="account.email" required/>
        </div>
        <div class="form-group">
          <label for="edit-age">Age</label>
          <input class="form-control" id="edit-age" v-model="account.age" required/>
        </div>
        <div class="form-group">
          <label for="edit-addresses">Addresses</label>
          <a v-on:click="addAddress" class="btn btn-sm">
           	<span class="glyphicon glyphicon-plus"></span>
	       </a>
		  <div v-for="addressObj in account.addresses">
		  	 <input class="form-control" name="addresses" v-model="addressObj.address" />
		  </div> 	
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="delete-account">
    <div>
      <h2>Delete Account</h2>
      <form @submit="deleteAccount">
        <p>The action cannot be undone.</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="/accounts.js"></script>

</body>
</html>